/* */

/* Configuração Universal para RESET  do CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* As medidas das 'caixas' são respeitadas */
}

/* usando o root(raiz) para criar variaveis que vão definir o projeto padrão */
:root{
    --text-color: white; /* o nome da variavel pode ser escolhida - essa faz a mudança das cores do projeto */
    --bg-url: url(./assets/bg-mobile.jpg);
    --stroke-color: rgba(255, 255, 255, 0.50);
    --surface-color: rgba(255, 255, 255, 0.10);
    --surface-color-hover: rgba(255, 255, 255, 0.05);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --perfil-color-hover: rgb(139, 139, 139);
    --perfil-color: rgb(255, 255, 255);
    --switch-bg-url: url('./assets/moon-stars.svg');
}

.light{
    --text-color: black;
    --bg-url: url(./assets/bg-mobile-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.50);
    --surface-color: rgba(0, 0, 0, 0.10);
    --surface-color-hover: rgba(255, 255, 255, 0.1);
    --highlight-color: rgba(0, 0, 0, 0.2);
    --perfil-color: rgb(0, 0, 0);
    --perfil-color-hover: rgb(97, 97, 97);
    --perfil-color: rgb(0, 0, 0);
    --switch-bg-url: url('./assets/sun.svg');
}

body{
    background-image: var(--bg-url);
    background-repeat: no-repeat; /* não repete o fundo */
    background-position: top center; /* top x e center y */
    background-size: cover; /* cobre todo o espaço de tela */
    height: 100vh; /* faz com que o body ocupe toda a tela na vertical */

    /*
    transformar tudo numa única propriedade

    background: color image repeat position / size

    background: url(./assets/bg-mobile.jpg) no-repeat top conter/cover
    */
}

/* body* significa que é uma configuração universal para o body */
body *{
    font-family: 'Inter', sans-serif;
    color: var(--text-color); /* essa é a sintaxe da variavel - var(conteudo) */
}

#container {
    width: 100%; /* Ajusta a tela pra 100% do tamanho */
    max-width: 588px; /* Ajusta o tamanho máximo do container para o tamanho desktop */
    /* usando margin para alinhar elementos */
    margin: 56px auto 0px;

    padding: 0 24px;
    }

    /* Usando o elemento pai da img do perfil para centralizar a img 
    o text-aling: center; só funciona em elementos tipo inline 
    */
#profile {
    text-align: center;
    padding: 24px;
}

#profile img{
    width: 112px;
    /* não é preciso colocar a altura, apenas a largura no CSS */
    /* um elemneto do tipo Display: inline não aceita margin: auto  */

}

#profile p{
    color: var(--perfil-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 500; /* peso da fonte */
    line-height: 24px; /* altura da linha */
    margin-top: 8px;  
    transition: color 1s;
}

/* switch */

#switch{
    position: relative; /* faz a posição absolut do button ficar relativo ao próprio switch */
    width: 64px;
    margin: 4px auto;
}

#switch button{
    width: 32px;
    height: 32px;
    background-color: white;
    border: 0;
    border-radius: 50%;
    background-image: var(--switch-bg-url);
    background-repeat: no-repeat;
    background-position: center;
    /* posicionando elementos acima do outro */
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.light #switch button{
    left: initial;
    right: 0;
}

#switch span{
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 999px;
    backdrop-filter: blur(2px);
}


/* links */

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
}

ul li a {
    text-decoration: none;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px 24px;
    
    border-radius: 8px;
    border: 1px solid  var(--stroke-color);
    background: var(--surface-color-hover);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px); /* para funcionar no safari */

    transition: background .5s;
}

/* pseudo-selector - aplica efeito ao passar o mouse */

ul li a:hover {
    border-radius: 8px;
    border: 1.5px solid var(--stroke-color);
    background:  var(--surface-color);
    backdrop-filter: blur(4px); 
}

#profile p:hover {
    color: var(--perfil-color-hover);
}

/* social-links */

#social-links{
    display: flex; /* para poder ativar o gap */
    padding: 24px, 0;
    font-size: 24px;
    justify-content: center;

}

#social-links a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

#social-links a:hover{

    background-color: var(--highlight-color);
    border-radius: 50%; /* fica uma bola perfeita */
}

footer{
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
}


/* media queries */

@media (min-width: 700px){
    :root{
        --bg-url: url(./assets/bg-desktop.jpg);
    }

    .light{
        --bg-url: url(./assets/bg-desktop-light.jpg);
    }
}